.faq {
  display: flex;
  margin-top: 150px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.faq__inhoud {
  display: flex;
  width: 90%;
  flex-direction: column;

  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 120px;
}
.faq__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  justify-content: space-between;
}
.faq__h {
  display: flex;
  font-size: 25px;
  font-weight: bold;
}
.faq__p {
  display: flex;
  font-size: 20px;
  font-weight: 400;
}
