/* @media only screen and (max-width: 600px) {
  .home {
    margin-top: 200px !important;
  }
} */

.home {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: fit-content;
  margin-top: 200px;

  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #28affd;
  border-left: 2px solid rgba(4, 205, 237, 0.4);
  border-top: 2px solid rgba(4, 205, 237, 0.4);
  border-right: 2px solid rgba(4, 205, 237, 0.4);
  border-bottom: 2px solid rgba(0, 236, 255, 0.6);
  -webkit-border-top-right-radius: 13px;
  -webkit-border-bottom-right-radius: 13px;
  -webkit-border-bottom-left-radius: 13px;
  -webkit-border-top-left-radius: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -moz-border-radius-topleft: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgb(4 205 237 / 70%),
    inset 6px 0 2px rgb(4 205 237 / 70%), inset -6px 0 2px rgb(4 205 237 / 70%),
    inset 0 10px 6px -3px rgb(0 0 0 / 30%),
    inset 9px 0 6px -3px rgb(0 0 0 / 30%),
    inset -9px 0 6px -3px rgb(0 0 0 / 30%);
  -moz-box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgba(4, 205, 237, 0.7),
    inset 6px 0 2px rgba(4, 205, 237, 0.7),
    inset -6px 0 2px rgba(4, 205, 237, 0.7),
    inset 0 10px 6px -3px rgba(0, 0, 0, 0.3),
    inset 9px 0 6px -3px rgba(0, 0, 0, 0.3),
    inset -9px 0 6px -3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgb(4 205 237 / 70%),
    inset 6px 0 2px rgb(4 205 237 / 70%), inset -6px 0 2px rgb(4 205 237 / 70%),
    inset 0 10px 6px -3px rgb(0 0 0 / 30%),
    inset 9px 0 6px -3px rgb(0 0 0 / 30%),
    inset -9px 0 6px -3px rgb(0 0 0 / 30%);
}
.home__p {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 7px;
}
.home__ictStromingen {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.home__ictStromingen__pic {
  display: flex;
  max-width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
