.postbox {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  padding-right: 10px;
  height: 150px;
  width: 400px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: white;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #28affd;
  border-left: 2px solid rgba(4, 205, 237, 0.4);
  border-top: 2px solid rgba(4, 205, 237, 0.4);
  border-right: 2px solid rgba(4, 205, 237, 0.4);
  border-bottom: 2px solid rgba(0, 236, 255, 0.6);
  -webkit-border-top-right-radius: 13px;
  -webkit-border-bottom-right-radius: 13px;
  -webkit-border-bottom-left-radius: 13px;
  -webkit-border-top-left-radius: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -moz-border-radius-topleft: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgb(4 205 237 / 70%),
    inset 6px 0 2px rgb(4 205 237 / 70%), inset -6px 0 2px rgb(4 205 237 / 70%),
    inset 0 10px 6px -3px rgb(0 0 0 / 30%),
    inset 9px 0 6px -3px rgb(0 0 0 / 30%),
    inset -9px 0 6px -3px rgb(0 0 0 / 30%);
  -moz-box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgba(4, 205, 237, 0.7),
    inset 6px 0 2px rgba(4, 205, 237, 0.7),
    inset -6px 0 2px rgba(4, 205, 237, 0.7),
    inset 0 10px 6px -3px rgba(0, 0, 0, 0.3),
    inset 9px 0 6px -3px rgba(0, 0, 0, 0.3),
    inset -9px 0 6px -3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgb(4 205 237 / 70%),
    inset 6px 0 2px rgb(4 205 237 / 70%), inset -6px 0 2px rgb(4 205 237 / 70%),
    inset 0 10px 6px -3px rgb(0 0 0 / 30%),
    inset 9px 0 6px -3px rgb(0 0 0 / 30%),
    inset -9px 0 6px -3px rgb(0 0 0 / 30%);
}

.postbox > form {
  display: flex;
  flex-direction: column;
}

.postbox__input {
  padding: 10px;
  display: flex;
}
.postbox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}
.maxchar2 {
  display: flex;
  text-align: center;
  z-index: 100;
  margin-left: 3px;
  font-size: 15px;
  font-weight: bold;
}

.postbox__postButton {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--twitter-color) !important;

  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
  border: 1px solid black;
}

.postbox__postButtonO {
  opacity: 0.5;
}

.postbox__footer {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.pickerContainer {
  z-index: 110;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: absolute;
  top: 210px;
  left: 37%;
}
