

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
    position: sticky;
    left: 0;
    top: 200px;
    height: 200px;
    width: 70px;
     background-color: white;

     -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #28affd;
  border-left: 2px solid rgba(4, 205, 237, 0.4);
  border-top: 2px solid rgba(4, 205, 237, 0.4);
  border-right: 2px solid rgba(4, 205, 237, 0.4);
  border-bottom: 2px solid rgba(0, 236, 255, 0.6);
  -webkit-border-top-right-radius: 13px;
  -webkit-border-bottom-right-radius: 13px;
  -webkit-border-bottom-left-radius: 13px;
  -webkit-border-top-left-radius: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -moz-border-radius-topleft: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgb(4 205 237 / 70%),
    inset 6px 0 2px rgb(4 205 237 / 70%), inset -6px 0 2px rgb(4 205 237 / 70%),
    inset 0 10px 6px -3px rgb(0 0 0 / 30%),
    inset 9px 0 6px -3px rgb(0 0 0 / 30%),
    inset -9px 0 6px -3px rgb(0 0 0 / 30%);
  -moz-box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgba(4, 205, 237, 0.7),
    inset 6px 0 2px rgba(4, 205, 237, 0.7),
    inset -6px 0 2px rgba(4, 205, 237, 0.7),
    inset 0 10px 6px -3px rgba(0, 0, 0, 0.3),
    inset 9px 0 6px -3px rgba(0, 0, 0, 0.3),
    inset -9px 0 6px -3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgb(4 205 237 / 70%),
    inset 6px 0 2px rgb(4 205 237 / 70%), inset -6px 0 2px rgb(4 205 237 / 70%),
    inset 0 10px 6px -3px rgb(0 0 0 / 30%),
    inset 9px 0 6px -3px rgb(0 0 0 / 30%),
    inset -9px 0 6px -3px rgb(0 0 0 / 30%);
  }
}
@media only screen and (min-width: 600px) {
  .sidebar {
    position: sticky;
    left: 0;
    top: 200px;
    display: flex;
    z-index: 10;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border: 2px solid black;
     background-color: white;

     -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #28affd;
  border-left: 2px solid rgba(4, 205, 237, 0.4);
  border-top: 2px solid rgba(4, 205, 237, 0.4);
  border-right: 2px solid rgba(4, 205, 237, 0.4);
  border-bottom: 2px solid rgba(0, 236, 255, 0.6);
  -webkit-border-top-right-radius: 13px;
  -webkit-border-bottom-right-radius: 13px;
  -webkit-border-bottom-left-radius: 13px;
  -webkit-border-top-left-radius: 13px;
  -moz-border-radius-topright: 13px;
  -moz-border-radius-bottomright: 13px;
  -moz-border-radius-bottomleft: 13px;
  -moz-border-radius-topleft: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgb(4 205 237 / 70%),
    inset 6px 0 2px rgb(4 205 237 / 70%), inset -6px 0 2px rgb(4 205 237 / 70%),
    inset 0 10px 6px -3px rgb(0 0 0 / 30%),
    inset 9px 0 6px -3px rgb(0 0 0 / 30%),
    inset -9px 0 6px -3px rgb(0 0 0 / 30%);
  -moz-box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgba(4, 205, 237, 0.7),
    inset 6px 0 2px rgba(4, 205, 237, 0.7),
    inset -6px 0 2px rgba(4, 205, 237, 0.7),
    inset 0 10px 6px -3px rgba(0, 0, 0, 0.3),
    inset 9px 0 6px -3px rgba(0, 0, 0, 0.3),
    inset -9px 0 6px -3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 5px 0 0 0 #1c81d5, inset -5px 0 0 #1c81d5,
    inset 0 5px #1c81d5, inset 0 4px 3px 2px rgb(4 205 237 / 70%),
    inset 6px 0 2px rgb(4 205 237 / 70%), inset -6px 0 2px rgb(4 205 237 / 70%),
    inset 0 10px 6px -3px rgb(0 0 0 / 30%),
    inset 9px 0 6px -3px rgb(0 0 0 / 30%),
    inset -9px 0 6px -3px rgb(0 0 0 / 30%);
  }
}
.sideNav {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}
.sidebar__welcome{
  color: black;
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}
a:hover {
  color: blue;
}
